@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/***************** element generale ****************/
html {
  scroll-behavior: smooth;
}
:root {
  --color-background: #1e1e2f;
  --color-rgba: rgba(255, 255, 255, 0.1);
  --dark-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  --white-shadow: 0px 1px 7px 0px #ccc;
  --color-primary: #00bfa6;
  --color-secondary: #7f8996;
  --color-text: #ffffff;
  --color-muted: #b8c2cc;
  --color-error: #ff4c4c;
  --color-success: #20af2d;
  --text-black: #000;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    135deg,
    var(--color-background),
    var(--color-primary)
  );
  background-attachment: fixed;
}
a {
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
  text-transform: capitalize;
}
a:hover {
  color: var(--color-primary);
}
select {
  padding: 14px 10px;
  box-sizing: border-box;
  border-radius: 6px;
  background: var(--color-rgba);
  border: 1px solid var(--color-secondary);
}
select:focus {
  outline: 3px solid var(--color-primary);
}
input[type="submit"],
button {
  background: var(--color-secondary);
  cursor: pointer;
  width: 50%;
  padding: 12px;
  border-radius: 6px;
  font-size: 1.1rem;
  border: none;
  transition: 0.3s;
}
input[type="submit"]:hover,
button:hover {
  background: var(--color-background);
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"],
.input[type="Search"] {
  width: 100%;
  border: 1px solid var(--color-secondary);
  box-sizing: border-box;
  transition: 0.3s;
  background: var(--color-rgba);
  font-size: 1.1rem;
  padding: 12px 10px;
  border-radius: 6px;
  color: var(--text-black);
  cursor: text;
}
::placeholder {
  color: var(--color-black);
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
textarea:focus {
  outline: 3px solid var(--color-muted);
}
textarea {
  height: 150px;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-background);
  background: var(--color-rgba);
  font-size: 1.1rem;
  border-radius: 6px;
  transition: 0.3s;
  box-sizing: border-box;
  padding: 10px;
}
label {
  display: block;
  font-size: 1.1rem;
  color: var(--color-text);
  font-weight: 500;
  text-transform: capitalize;
  margin-top: 7px;
  margin-bottom: 2px;
}
svg {
  color: var(--color-secondary);
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
hr {
  border: none;
  border-top: 1px solid var(--color-black);
  margin: 30px 0;
}
br {
  padding: 5px 0;
}
h3,
a,
p,
textarea,
input,
button {
  margin: 0;
  letter-spacing: 1px;
  color: var(--color-text);
}
h1 {
  font-size: 55px;
  letter-spacing: 4px;
  color: var(--color-text);
  font-weight: 600;
  text-transform: capitalize;
}
h2 {
  font-size: 22px;
  color: var(--color-text);
  font-weight: 300;
  letter-spacing: 3px;
}
h3 {
  font-size: 20px;
  text-transform: capitalize;
}
hr {
  border-top: none;
  margin: 20px 0;
}
.error {
  color: var(--color-error);
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
}
.success {
  color: var(--color-success);
  font-weight: 600;
  font-size: 22px;
  text-transform: capitalize;
}
/***************** element cgenerale ****************/
/***************** element header ****************/
header nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  padding: 20px 25px;
  border-radius: 50px;
  background: var(--color-background);
  backdrop-filter: blur(10px);
  box-shadow: var(--dark-shadow);
}
header nav .nav_logo {
  display: flex;
  align-items: center;
}
header nav .nav_logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
header nav .nav_logo span {
  color: var(--color-text);
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
}

header nav ul a {
  padding: 8px 15px;
  border-radius: 20px;
}
header nav ul a:hover {
  background: var(--color-rgba);
}
header nav ul a svg /*icon*/ {
  margin-right: 5px;
}
header .home {
  height: 500px;
}
header .home .home_font {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .home .home_font .home_center {
  width: 55%;
}
header .home .home_font .home_center h2 {
  margin: 18px 0;
}
/***************** element header ****************/
/***************** element links ****************/
.links_content h2 {
  text-align: center;
}
.links_content div {
  display: flex;
  gap: 10px;
  padding: 0 30px;
  /* overflow-x: scroll;
  scrollbar-color: var(--color-primary) var(--color-muted); */
}
.links_content a {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color-secondary);
}
.links_content a img {
  width: 100%;
  height: 60%;
}
.links_content a p {
  text-align: center;
  background: var(--color-background);
}
/***************** element links ****************/
/***************** element recherche ****************/
.match_car {
  display: flex;
  align-items: center;
  padding: 0 30px;
  gap: 15px;
}
.match_car .search {
  flex: 2;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  /* max-width: 190px; */
}

.match_car .search .input[type="Search"] {
  outline: none;
  padding-left: 2.5rem;
  z-index: 0;
}
.match_car .search #search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

.match_car .filter {
  flex: 1;
}
.match_car .filter select {
  width: 100%;
}

/***************** element recherche ****************/
/***************** element catalogue ****************/
.catalogue {
  display: flex;
  align-items: center;
  gap: 15px;
}
/***************** element catalogue ****************/
/***************** element footer ****************/
.footer {
  background-color: var(--color-rgba);
  padding: 50px 80px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: left;
}
.logo-footer img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.footer-column a {
  display: block;
  margin-bottom: 6px;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: var(--color-background);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 0 5px;
}
.social-icons a:hover {
  background: var(--color-secondary);
}
.footer-bottom p {
  color: var(--color-muted);
}
/***************** element footer ****************/

/*------------------  OTHER PAGES ----------------------*/

/***************** element contact ****************/
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  width: 75%;
}
.contact div {
  flex: 1;
}
.contact form {
  flex: 1;
}
/***************** element contact ****************/

/***************** admin interface  ****************/
._nav {
  position: fixed;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  width: 65px;
  z-index: 100;
  overflow: hidden;
  transition: 0.3s;
}
._nav:hover {
  width: 250px;
}
._nav ul {
  padding: 0;
  margin: 0;
  width: 250px;
  list-style: none;
}
._nav .logo {
  display: flex;
  padding: 10px 6px;
  align-items: center;
}
._nav .logo img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
._nav h3 {
  margin-left: 10px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #7f8996;
}
._nav ul li {
  padding: 10px;
}
._nav ul svg {
  font-size: 40px;
}
._nav ul a {
  margin-left: 20px;
}
article {
  width: 100%;
  min-height: 100%;
}
article section {
  width: 80%;
  margin: 20px auto;
}
.h1 {
  text-align: center;
  font-size: 32px;
}
article section h2 {
  border-bottom: 1px dashed #333;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
}
/* article section div {
  width: 420px;
  margin: 10px auto;
} */
article section form {
  box-shadow: 0px 1px 7px 0px #ccc;
  padding: 20px;
  border-radius: 10px;
  background: rgba(12, 15, 41, 0.193);
}
article section form input[type="file"],
article section form input[type="text"],
article section form input[type="submit"],
article section form select {
  margin: 10px 0;
}
article section form input[type="submit"] {
  background: #ff6b6b;
  transition: 0.2s;
  color: #fff;
  text-transform: capitalize;
}
article section form label {
  color: #fff;
  font-weight: 600;
}
article section form input[type="submit"]:hover {
  background: #ff4c4c;
}

.nav_all {
  background: #f1f1f1;
}
/* Overlay (fond noir transparent + blur) */
.overlay {
  position: fixed;
  inset: 0; /* top:0, right:0, bottom:0, left:0 */
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.overlay.active {
  display: flex;
}
/* Boîte d'alerte */
.alert-box {
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

/* Boutons */
.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}
.btn-cancel {
  background: #e0e0e0;
}
.btn-confirm {
  background: #333;
  color: #fff;
}
/***************** admin interface  ****************/
/*------------------  OTHER PAGES ----------------------*/
